```
# Gradle
.gradle/
build/
!gradle.properties
!gradlew
!gradlew.bat

# Dependencies
lib/
libs/

# Logs
*.log
!build.gradle.kts

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
```